/* Card container */
.profilePagecontainer {
  padding-top: 120px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: left;
  background: #141414; /* Light pastel background for the card */
  border-radius: 12px;
  box-shadow: 3px 3px 5px rgb(57, 57, 57);
  padding: 20px 20px;
  margin: 0px 20px;
  animation: fadeIn 1s ease-in-out, scaleUp 0.5s ease-in-out;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  /* outline: auto; */
}

.beerItemContainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Space between grid items*/
  margin: 10px;
  padding: 10px;
}

/* Username styling */
.username {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  letter-spacing: 10px;
  font-size: 2rem; /* Larger font size for prominence */
  color: #6c5b7b; /* Pastel purple for attention */
  font-weight: bold; /* Bold text for emphasis */
  margin-bottom: 15px;
  animation: fadeIn 1s ease-in-out;
  text-align: center;
  text-transform: uppercase;
}

/* Styling for individual items */
.item {
  font-size: 0.9rem; /* Smaller font size for less prominence */
  color: #6c5b7b; /* Subtle text color for other details */
  margin-bottom: 6px;
  animation: fadeIn 1s ease-in-out;
  text-transform: uppercase;
}

/* Additional styling for labels */
.label {
  font-weight: bold;
  color: #696969; /* Darker color for labels */
  margin-right: 5px;
}

.triedBeersTitleContainer {
  margin: 100px 0px;
  text-align: center;
}

.triedBeersTitleText {
  font-size: 2.5em;
  padding: 10px;
  /* text-decoration: underline; */
  letter-spacing: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: #6c5b7b; 
}

.beerEmoji {
  font-size: 3em;
  margin: 0 20px;
}

.youNeedToTryBeerTextContainer {
  text-align: center;
}

.youNeedToTryBeerText {
  color: #6c5b7b;
}

.goTryBeersButton {
  margin: 15px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.95);
  }
  to {
    transform: scale(1);
  }
}
